form {
  width: 100%;
  position: fixed;
  bottom: 5px;
}
#msg {
  width: 95%;
}
li {
  list-style-type: none;
  padding-top: 5px;
}
.alert {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}
